body{

    font-family:Arial,sans-serif;

    background:#0f172a;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    margin:0;
}

.container{

    width:400px;

    background:#1e293b;

    padding:20px;

    border-radius:15px;

    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
}

.input-section{

    display:flex;

    gap:10px;

    margin-bottom:20px;
}

input{

    flex:1;

    padding:10px;

    border:none;

    border-radius:5px;
}

button{

    padding:10px;

    border:none;

    background:#2563eb;

    color:white;

    border-radius:5px;

    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

.filters{

    display:flex;

    justify-content:space-between;

    margin-bottom:20px;
}

li{

    background:#334155;

    margin-bottom:10px;

    padding:10px;

    border-radius:5px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.completed{
    text-decoration:line-through;
    opacity:0.6;
}

.task-buttons{
    display:flex;
    gap:5px;
}